<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle Board</title>
</head>
<body>
    <h1> Boggle game board </h1>
    {{display_board}}

    <br>
    <!-- Form to submit a guess -->
    <!-- <form action=""> -->
    <form method="POST">
        <label for="make_guess">Guess</label>
        <input type="text" id="make_guess"  name="guess_word" placeholder="make a guess"/>
        <button>Submit</button>
    </form>
   
</body>
</html>